Package: com.bbarrows.hub
Version: 2.12.8
Section: Development
Maintainer: Brad Barrows <bebrws@gmail.com>
Provides: hub
Architecture: iphoneos-arm
Size: 8379232
Installed-Size: 8379232
Description: hub - A command-line tool that makes git easier to use with GitHub - cross compiled for ios arm64 and arm64e
Name: fzf
Author: cross compiled by bebrws <bebrws@gmail.com> - written by https://github.com/jf248
Depiction: https://github.com/jf248/hub
