Package: com.bbarrows.fzf
Version: 0.21.1
Section: Development
Maintainer: Brad Barrows <bebrws@gmail.com>
Provides: fzf
Architecture: iphoneos-arm
Size: 1922400
Installed-Size: 6232272
Description: fzf - A command-line fuzzy finder - lists options piped into the process and allows searching the options via STDIN - cross compiled for ios arm64 and arm64e
Name: fzf
Author: cross compiled by bebrws <bebrws@gmail.com> - junegunn <junegunn.c@gmail.com>
Depiction: https://github.com/junegunn/fzf
