Package: com.bbarrows.cycript
Version: 0.9.594
Section: Development
Maintainer: Brad Barrows <bebrws@gmail.com>
Provides: cycript
Architecture: iphoneos-arm
Size: 27200
Installed-Size: 24000000
Description: cycript - One of the most powerful introspective/scripting tools there is for iOS and MacOS. This is my build of that project. Works on ios 13.* and built for arm64/arm64e
Name: cycript
Author: Saurik
