Package: com.bbarrows.ninja
Version: 1.10.0
Section: Development
Maintainer: Brad Barrows <bebrws@gmail.com>
Provides: ninja
Architecture: iphoneos-arm
Size: 221620
Installed-Size: 2405384 
MD5: 4966e34478dc491b26a0e5b8c0435938
Description: ninja - a small build system with a focus on speed
Name: ninja
Author: cross compiled by bebrws <bebrws@gmail.com> - Original source at https://github.com/ninja-build/ninja
Depiction: https://github.com/ninja-build/ninja
